################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
cmd/api/__debug_bin.exe
appsettings.Development.json
appsettings.json
*exe
.vscode/launch.json
.vscode/tasks.json
bin